.App {
  text-align: center;
  padding-top: 15vh;
}

body {
  margin: 0;
  background-color: #f58bc57e;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Container {
  background: transparent;
}

.card {
  width: 800px;
  height: 500px;
  border: 0em;
  border-radius: 15px;
  margin: auto;
  top: 50%;
  background-color: #f88888;
  /* background-color: #ff2c3ece; */
  box-shadow: 0px 0px 5px 0px #ff2c3ee9, 0 0 0 15px #ffffffeb;
  /* box-shadow: .4rem .2rem .2rem .1rem rgba(235, 168, 161, 0.6); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
